.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.arrowBtn {
  background: transparent;
  border: none;
}

.closeBtn {
  background: transparent;
  border: none;
}
