.linkContainer,
.langContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 17px 0;
}

.linkContainer {
  border-bottom: var(--border);
}

.linkContainer p,
.langContainer p {
  font-size: 20px;
}
