.visits-history {
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Контейнер занимает всю высоту экрана */
  box-sizing: border-box; /* Учитываем padding */
}
.visits-list {
  flex-grow: 1; /* Список занимает всё оставшееся пространство */
  overflow-y: auto; /* Прокрутка, если список длинный */
  margin-bottom: 20px; /* Отступ перед кнопкой */
 scrollbar-width: none;
}
.visits-list::-webkit-scrollbar {
  display: none; /* Для Webkit (Chrome, Safari, Edge) */
}
.add-button-wrapper {
  flex-shrink: 0; /* Кнопка не сжимается */
  padding-top: 10px;
  background-color: white; /* Фон, чтобы кнопка перекрывала список */
}
