.editProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 110px;
  margin: 0 auto;
  max-width: 375px;
  border: 2px solid green;
  /* вспомогательная рамка для просмотра границ страницы */
}

.editProfilePage h2 {
  color: var(--color-text-dark);
}

.headerContainer {
  display: flex;
  align-items: center;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editForm input {
  font-size: 14px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  font-size: 16px;
}

.divideText {
  font-size: 16px;
  text-align: center;
  color: var(--color-main);
  white-space: pre-line;
}
