.specialistEditProfilePage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 10px 110px;
  margin: 0 auto;
  max-width: 375px;
  /* border: 2px solid rgb(141, 13, 98); */
  /* вспомогательная рамка для просмотра границ страницы */
}

.specialistEditProfilePage h2 {
  color: var(--color-text-dark);
}